@page "/outside"
@attribute [RenderModeServer]

<PageTitle>Outside EditForm</PageTitle>
<h3>Outside EditForm</h3>

<FlipFlop @bind-Value="_value" />

<hr/>

<p>Value: @_value</p>

<button @onclick="StateHasChanged">Update</button>