@page "/unbound"
@attribute [RenderModeServer]

<PageTitle>Unbound</PageTitle>
<h3>Unbound</h3>

<FlipFlop @ref="@_ref" />

<hr/>

<p>Value: @_ref?.Value</p>
<hr/>

<button @onclick="SetTrue">@(_ref?.Value ?? false ? "TRUE" : "true")</button>
<button @onclick="SetFalse">@(_ref?.Value ?? false ? "false" : "FALSE")</button>

<button @onclick="StateHasChanged">Update</button>