@page "/editcontext"
@attribute [RenderModeServer]

<PageTitle>With EditContext</PageTitle>
<h3>With EditContext</h3>

<EditForm EditContext="@_editContext">

    <FlipFlop @bind-Value="@_model!.Value" />

    <hr/>

    <p>Value: @_model?.Value</p>
    <p>Changed: @_editContext?.IsModified()</p>

    <hr/>

    <button @onclick="SetTrue">@(_model?.Value ?? false ? "TRUE" : "true")</button>
    <button @onclick="SetFalse">@(_model?.Value ?? false ? "false" : "FALSE")</button>
</EditForm>

<button @onclick="StateHasChanged">Update</button>