@page "/editcontext"
@attribute [RenderModeServer]

<PageTitle>With EditContext</PageTitle>
<h3>With EditContext</h3>

<EditForm EditContext="@_editContext">

    <FlipFlop @bind-Value="@_model!.Value" />

    <hr/>

    <p>Value: @_model?.Value</p>
    <p>Changed: @_editContext?.IsModified()</p>

</EditForm>

<button @onclick="StateHasChanged">Update</button>