<div style="border: 1px solid black; margin-inside: 20px;">
    Value: @Value
    
    <button @onclick="SetTrue">@(Value ? "TRUE" : "true")</button>
    <button @onclick="SetFalse">@(Value ? "false" : "FALSE")</button>
</div>